body {
  margin: 0;
  font-family: "Microsoft YaHei" ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Microsoft YaHei",
    monospace;
}
