.homeRequest{
  .homeRequest-title{
    padding:0 20px;
  }
  .homeRequest-body{
    .homeRequest-content{
      padding:20px;

      .subtitle{
        color:#5c8ce6;
        font-size:20px;
      }
      .subcontent{
        padding-left:20px;
      }
    }
  }
}