.home{
  .home-title{
    padding:0 20px;
  }
  .home-body{
    .home-content{
      padding:20px;

      .subtitle{
        color:#5c8ce6;
        font-size:20px;
      }
      .subcontent{
        padding-left:20px;
      }
    }
  }
}