.home {
    padding: 20px 15px 0 15px;
    .home-more{
        border-bottom: 1px dotted #CCCCCC;
        padding-bottom: 40px;
    }
    .home-left {
        width: 450px;
    }
    .home-left1 {
        width: 720px;
    }
    .home-right1 {
        width: 450px;
        padding-left: 30px;
    }

    .home-right {
        width: 710px;
        padding-left: 30px;
    }

    .ant-carousel {
        position: relative;
        img{
            height: 300px;
        }
        .silde-title{
            font-size: 18px;
            position: absolute;
            bottom: 0px;
            height: 75px;
            line-height: 45px;
            width: 430px;
            background:linear-gradient(0deg,rgba(28,30,29,0.8) 0%,rgba(28,74,137,0.5) 100%);
            .ant-typography {
                color: #fff;
                margin: 0 auto;
            }
        }
        .slick-slide {
            text-align: center;
            height: 300px;
            overflow: hidden;
            position: relative;
        }

        .slick-dots-bottom {
            bottom: 11px;
        }

        .slick-dots {
            height: 18px;
            li {
                margin: 0;
                margin-right: 13px;
                button {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;

                }
               
            }
        }

    }

}