.publicHeader {
    width: 100%;
    width: 1200px;
    margin: 0 auto;

    // height: 180px;
    .header-top {
        background-image: url('./image/logo-bg.jpg');
        height: 300px;
        position: relative;
        .logo{
            position: absolute;
            top: 88px;
            left: 32px;
        }
        .logo-info {
            position: absolute;
            top: 120px;
            left: 213px;
        }
        p{
            position: absolute;
            left: 213px;
            top: 157px;
            height:40px;
            font-size:40px;
            font-weight:400;
            color:rgba(255,246,246,1);
            line-height:31px;
        }
    }
    .header-nav {
        background: #398EF3;
        height: 50px;
        .ant-menu-horizontal {
            display: flex;
            justify-content: center;
            background: #398EF3;
            line-height: 50px;
            border-bottom-width: 0;
            .nav-url{
                height: 50px;
                color: #fff;
                font-size: 16px;
            }

            .ant-menu-item-selected {
                background-color: #F1F199;

                .nav-url {
                    color: #235466;
                }
            }

            &>.ant-menu-item {
                &:hover {
                    background-color: #F1F199;
                }

                &>.nav-url:hover {
                    color: #235466;
                }
            }


        }

        .ant-menu-horizontal>.ant-menu-item,
        .ant-menu-horizontal>.ant-menu-submenu {
            padding: 0;
            text-align: center;
            width: 130px;
            top: 1px;
            border-bottom-width: 0;
        }
    }

}