.layout{
    background-image: url("../../assets/images/index-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .layout-header{
        position: absolute;
        top: 0;
    }
    .layout-content{
        width: 1200px;
        margin: 0 auto;
        background: #fff;
    }
}